.container {
  display: inline-block;
  cursor: pointer;
}

.containerNav {
  display: inline-block;
  padding-top: 40px;
  padding-left: 30px; 
}

.bar1, .bar2, .bar3 {
  height: 2px;
  width: 60px;
  background-color:#80f8e6;
  transition: 0.4s;
  margin: 6px 0;
  margin-left: 10px;
}

.headerInfo {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../assets/forest.jpeg');
  background-repeat: no-repeat; 
  background-size: cover;
  width: 100%;
  margin: 0;
}

.headerSection h1{
  margin: 0;
  padding-top: 80px;
  text-align: center;
  color: #80f8e6;
  /* font-family: 'Rock Salt', cursive; */
  font-family: 'Great Vibes', cursive;
  font-size: 65px;
  margin-bottom: 5px;
}

.welcomeText {
  display: flex;
  margin-bottom: 40px;
  flex-direction: column;
  padding: 0px; 
} 

.welcomeText h4 {
  text-align: left;
  color: aliceblue;
  max-width: 280px;
  display: flex;
  margin-bottom: 0;
} 

.newDayButtonDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 40px;
}

.header-icons {
  display: flex;
  text-align: center;
  padding-top: 65px;
  justify-content: flex-end;
  margin-right: 25px;
}

.hIconCircle {
  width: 42px;
  height: 42px;
  border: 2px solid #ffff;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hIconImg {
  width: 18px;
  height: 18px;
} 

.hIconCircle:hover {
  border: #7f6f54;
}

@media only screen and (min-width: 768px) {
  .welcomeText h4 {
    max-width: 600px;
  }
}

/* @media (min-width: 650px) {
  .header-icons {
    align-self: flex-end;
  }
} */
