.headerSection {
  margin: 0;
  width: 100%;
  height: 200px;
  /* background-color: #e5faf5; */
  align-content: center;
}

.headerInfo h1{
  margin: 0;
  text-align: center;
  color: #80f8e6;
  font-family: 'Rock Salt', cursive;
  font-size: 74px;
}
/* 
.header-icons {
  display: flex;
  text-align: center;
}

.hIconCircle {
  width: 49px;
  height: 49px;
  border: 3px solid #ffff;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hIconImg {
  width: 22px;
  height: 22px;
} */
