/*****LOGIN/FORM********/

.authContainer {
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #5b720d;  
} 

.loginContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  /* padding-bottom: 300px; */
}
.brand p {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color: #80f8e6;
  padding: 0;
  margin: 13px 0px 32px 0;
  text-align: center;
}

.loginForm {  
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: #5b720d;
  padding: 68px;
  color: #fff;
  font-size: 20px;
  border: none;
}
  
.loginForm h1 {
  margin: 5px 10px 5px 0;
  color: #fff;
  text-align: center;
  margin-bottom: 13px;
}

.loginForm h2 {
  margin: 5px 10px 5px 0;
  color: #fff;
  text-align: center;
  margin-bottom: 13px;
  font-size: 15px;
}
  
/*Style for the text field*/
.loginForm input {
  flex-wrap: wrap;
  justify-items: center;
  font-size: 10px;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  background: #f1f1f1;
  /* border-radius: 15px; /* border gets rounded corners */  
}
    
/*changes the color of the button upon hovering*/
.loginForm button:hover {
  background-color:#a1b16d;
  color: #fff;
}
    
/* The submit button styling */
.loginForm button {
  color: #a1b16d;
  font-size: 15px;
  border: #fff;
  border-radius: 40px; /* Button gets rounded corners */ ;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px; 
}

.toRegisterButton {
  align-self: center;
  color: #5b720d;
  font-size: 15px;
  border: #fff;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
}


@media only screen and (min-width: 768px) {
  .authContainer {
    display: inline-flex;
    text-align: center;
    width: -webkit-fill-available;
    position: absolute;
  } 

  .loginForm {
    border: 1px solid #a1b16d;
    margin: 40px 0px;
  }  
}
