body {
    margin: 0px;
}

.detailsContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("../assets/forest.jpeg");
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh; 
  color: whitesmoke;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.detailsContainer h2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rock Salt', cursive;
  color: #80f8e6;  
} 

span {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.detailsContainer h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.reflectionSummary {
  padding: 15px;
  margin-bottom: 20px;
}

.quotePost {
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
}

.quoteWords {
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
  background-size: cover;
  position: absolute;
  max-width: 200px;
  opacity: 0;
  z-index: 2;
  margin-top: 30px;
}

.quoteWords h2 {
  font-size: 24px;
}

.quotePost:hover .reflectionSummary {
  filter: brightness(20%);
  background: rgba(0,0,0,.5);
}

.quotePost:hover .quoteWords {
  display: block;
  cursor: pointer;
  opacity: 1; 
}

.backLink {
  display: flex;
  justify-content: center;
  border: #80f8e6 1px solid;
  color: #80f8e6;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  width: 200px;
  padding: 5px;
  background: none;
}

.backLink p {
  margin: 0;
}

a:link {
  text-decoration: none;    
}

.backLink:hover {
  border-radius: 15px;
  background: #80f8e6;
}

.backLink:hover {
  color: #7f6f54;
}

@media only screen and (min-width: 600px) {
  .detailsContainer{
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .detailsContainer{
    width: 100%; 
  }

  .reflectionSummary {
    border:#80f8e6 1px solid;
    border-radius: 8%;
  }
}


