
.mainContainer {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('../assets/forest.jpeg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed; */
  /* background-color: #003934; */
  /* background-color: #4d6424; */
  /* background-color: #264140; same color as sliding navbar */
  background-color: #0f211d;  /*same color as navbar */
  /* background-color: darkolivegreen; */
}

.myDayContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.myDayPhotos {  
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 8px;
}   

.myDayPhotos h3 {
  text-align: center;
  text-decoration: none;
  margin: 0 auto; 
  /* margin-bottom: 15px; */
  font-size: small;
  color: #80f8e6;
}

@media only screen and (min-width: 768px) {
  .myDayContainer .myDayPhotos {
    align-items: flex-end;
    /* max-width: 33%; */
    padding: 10px;
    margin: 0px 35px;
  }
}


  