.header2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rock Salt', cursive;
  color: #80f8e6;
  margin-top: -51px;
}

.formSection {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/drop.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh; 
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  margin-bottom: 25px;
}

input {
  margin-right: 15px;
}

.checkboxLabel {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
} 

.formInputSection h4 {
  margin: 0px;
  color: white;
}

.formInputSection { 
  display: inline;
  flex-direction: row;
  color: darkslategray;
}

textarea {
  display: flex;
  justify-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
}

.submitBtn {
  display: flex;
  justify-content: center;
  border: #80f8e6 1px solid;
  color: #80f8e6;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  padding: 5px;
  background: none;
  margin: auto;
}

a:link {
    text-decoration: none; 
    margin: 0;   
}

@media only screen and (min-width: 600px) {
  .formSection{
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .formSection{
    width: 100%; 
  }
}
