
.mainContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/morningshimmer.jpg');
   
    background-repeat: no-repeat; 
    background-size: cover;
}

.myDayContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    color: whitesmoke;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  .myDayPhotos {  
    /* max-width: 200px;
    max-height: 200px; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 10px;
    margin: 15px;
  }   

  .myDayPhotos h3 {
    /* margin: 5px 10px 5px 0; */
    color: #3489c4;
    text-align: center;
    text-decoration: none;
    margin-bottom: 13px;
    font-size: small;
    font: roboto;
  }

  