
.mainContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/morningshimmer.jpg');
   
    background-repeat: no-repeat; 
    background-size: cover;
}

.myDayContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }

  .myDayPhotos {  
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 8px;
  
  }   

.myDayPhotos h3 {
  color: #80f8e6;
  text-align: center;
  text-decoration: none;
  margin: 0 auto; 
  margin-bottom: 20px;
  font-size: small;
  /* color: white;  */
}


/*MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  /* For desktop: */
  
  .myDayContainer .myDayPhotos {
    align-items: flex-end;
    max-width: 33%;
    padding: 10px;
   
  }
}


  