
/* ******Back link css ********* */

.formSection .backLink {
  position: absolute;
  display: inline-flex;
  color: black;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  left: 20px;
  top: 20px;
  color: white;
}

.backLinkImg {
  width: 10%;
  margin-right: 10px;
  
}
.backLink:hover svg {
  margin-right: 10px;
} 
 
/*makes the button move to the side when hover*/
/* .formSection .backLink svg {
  transition: margin-right .3s ease-in-out;   
}  */

.header2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkslategray;
  margin-top: 60px;
}

/* .formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: row;
} */

.formSection {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/drop.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh; 
  /* width: 100%;
  overflow: hidden;
  margin: 0px; */
  /* padding: 0px; */
  color: whitesmoke;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.boxes {
  display: flex;
  flex-direction: row;
  /* flex-flow: row; */
  flex-wrap: wrap; 
  justify-content: center;
  /* margin-top: 0px;
  width: 500px; */
  /* margin: 90px;*/
  margin-bottom: 25px;
}

.checkboxLabel {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
} 

.formInputSection h4 {
  margin: 0px;
  color: white;
}

.formInputSection { 
  display: inline;
  flex-direction: row;
  color: darkslategray;
 
}

textarea {
  display: flex;
  justify-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
}
/* .boxes label {
  padding: 10px;
  display: flex;
  flex-direction: row;
  color: darkslategray;
  flex-wrap: wrap;
} 
/* .form {
  background-color: #e5faf5;
  border: 1px solid darkslategrey;
  border-radius: 7px; */
  /* width: 700px; */
  /* margin: 16px;
  display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between;
  padding: 20px; 
  width: 100%;
} */
  
/* .form textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px 0;
}
  
.form h4 {
  margin: 0;
  color: darkslategrey;
}

.form p {
  margin: auto;
}
  
.form button {
  height: 25px;
  width: 28%;
  background-color: #80f8e6;
  border: none;
  border-radius: 7px;
  font-size: 12px;
  color: darkslategrey;
  align-content: center;
  display: inline-grid; 
}
  
.form button:hover {
  cursor: pointer;
}
  
/* height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
-webkit-font-smoothing: antialiased;
 background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("/assets/surf.jpg");
 /* background-repeat: no-repeat;  */
 /* background-size: cover;
 color: whitesmoke;
 padding: 10px */ 





/* .questions1 {
  display: flex;
  flex-flow: row;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  
} */

/* input.questions1 { 
  /* margin-right: 40px; 
  margin-bottom: 3px;
} */


