body {
    margin: 0px;
}

.detailsContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("../assets/forest.jpeg"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("../assets/forest.jpeg");
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh; 
  /* width: 100%;
  overflow: hidden;
  margin: 0px; */
  /* padding: 0px; */
  color: whitesmoke;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.detailsContainer h2 {
  font-family: 'Rock Salt', cursive;
  color: #80f8e6;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

} 

span {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

.detailsContainer h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.reflectionSummary {
  padding: 15px;
  margin-bottom: 20px;
  
}
.backLink {
  border: #80f8e6 1px solid;
  color: #80f8e6;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
  width: 200px;
  padding: 5px;
  display: inline-flex;
  display: flex;
  background: none;
}

.backLink p {
  margin: 0;
}

a:link {
    text-decoration: none;    
}


@media only screen and (min-width: 600px) {

  .detailsContainer{
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .detailsContainer{
    width: 100%; 
  }

  .reflectionSummary {
    border:#80f8e6 1px solid;
    border-radius: 8%;
  }
}


