/* .myDay2Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/drop.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh;
  -webkit-font-smoothing: antialiased;

} */

/* height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
-webkit-font-smoothing: antialiased;
 background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("/assets/surf.jpg");
 /* background-repeat: no-repeat;  */
 /* background-size: cover;
 color: whitesmoke;
 padding: 10px */ 

/* .header2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
} */

/* .boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px; */
  /* width: 900px; */
  /* margin: 90px; */


/* .boxes label {
  padding: 30px;
  display: flex;
  color: white;
}

.questions1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  
}

input.questions1 { 
  margin-right: 40px;
  margin-bottom: 10px;
}

.questions2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

input.questions2 { 
  margin-right: 20px;
  margin-bottom: 10px;
}
.questions3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

input.questions3 { 
  margin-right: 20px;
  margin-bottom: 10px;
}
.questions4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

input.questions4 { 
  margin-right: 20px;
  margin-bottom: 10px;
} */

/* ******Back link css ********* */

/* .myDay2Container .backLink {
  position: absolute;
  display: inline-flex;
  color: white;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  left: 50px;
  top: 20px;
}

.backLinkImg {
  width: 10%;
}

.backLink:hover svg {
  margin-right: 10px;
} */

/*makes the button move to the side when hover*/
/* .myDay2Container .backLink svg {
  transition: margin-right .3s ease-in-out;   
}  */