body {
    margin: 0px;
}

.detailsContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/forest.jpeg");
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100vh; 
  /* width: 100%;
  overflow: hidden;
  margin: 0px; */
  /* padding: 0px; */
  color: whitesmoke;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.detailsContainer .backLink {
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  color: black;
  align-items: center;
  font-weight: 700;
  text-decoration: none;
  left: 20px;
  top: 20px;
  color: white;
  margin-right: 82px;
}

.backLinkImg {
  width: 10%;
  margin-right: 10px;
}

.backLink p {
  display: inline-block;
  margin: 0px;
  align-items: center;
}
.backLink:hover svg {
  margin-right: 10px;
} 
 
/*makes the button move to the side when hover*/
.detailsContainer .backLink svg {
  transition: margin-right .3s ease-in-out;   
} 
/* .backDrop {
    justify-content: flex-end;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    min-height: 100%;
    min-width: 1024px; */
   
    /* Set up proportionate scaling
    /* width: 100%;
    height: auto;
    /* Set up positioning 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
} */


/* 
.infoContainer .infoBox {
    z-index: 1;
    display: flex;
    position: absolute;
    align-items: flex-end;
    padding: 50px;
    bottom: 0px;
}

.infoPoster {
    float: left;
    border: 10px solid white;
    width: 230px;
}

.titleInfo {
    display: block;
    padding-left: 20px;
    justify-content: space-evenly;
}

.movieTitle {
    display: flex;
}

.movieVotes {
    color: red;
    display: contents;
    font-size: 12px;
}
.infoPoster {
    float: left;
    border: 10px solid white;
    width: 230px;
}

.titleInfo {
    display: block;
    padding-left: 20px;
    justify-content: space-evenly;
}

.movieTitle {
    display: flex;
}

.movieVotes {
    color: red;
    display: contents;
    font-size: 12px;
}
.infoPoster {
    float: left;
    border: 10px solid white;
    width: 230px;
}

.titleInfo {
    display: block;
    padding-left: 20px;
    justify-content: space-evenly;
}

.movieTitle {
    display: flex;
}

.movieVotes {
    color: red;
    display: contents;
    font-size: 12px;
}
.infoPoster {
    float: left;
    border: 10px solid white;
    width: 230px;
}

.titleInfo {
    display: block;
    padding-left: 20px;
    justify-content: space-evenly;
}

.movieTitle {
    display: flex;
}

.movieVotes {
    color: red;
    display: contents;
    font-size: 12px;
}
.infoPoster {
    float: left;
    border: 10px solid white;
    width: 230px;
}

.titleInfo {
    display: block;
    padding-left: 20px;
    justify-content: space-evenly;
}

.movieTitle {
    display: flex;
}

.movieVotes {
    color: red;
    display: contents;
    font-size: 12px;
}
 */
