.myDay2Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Questions1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

input.questions1 { 
    margin-right: 20px;
    margin-bottom: 10px;
}

.Questions2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

input.questions2 { 
    margin-right: 20px;
    margin-bottom: 10px;
}