nav.nav.nav--animate {
  background-color: #0f211d;
  cursor: pointer;
  padding-bottom: 50px;
}

.nav-links__group.right {
  color: #80f8e6;
  margin-bottom: 10px;
  text-align: right;
}

button.burger {
  margin-bottom: 20px;
}
.navMenu a {
  color: #80f8e6;
}

.navMenu p {
  /* font-family: 'Rock Salt', cursive; */
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color: #80f8e6;
}


@media only screen and (min-width: 1024px) {
  .nav-links__group.right , 
  .nav-links__group.left{
    display: block;
  }
 .nav {
   box-shadow: none;
 }
}