nav.nav.nav--animate {
  background-color: #0f211d;
  cursor: pointer;
}

.nav-links__group.right , 
.nav-links__group.left{
  color: #80f8e6;
}

.navMenu a {
  color: #80f8e6;
}

.navMenu p {
  /* font-family: 'Rock Salt', cursive; */
  font-family: 'Great Vibes', cursive;
  /* font-family: 'Parisienne', cursive; */
  font-size: 30px;
  color: #80f8e6;
  padding: 0;
  margin: 0;
}


@media only screen and (min-width: 1024px) {
  .nav-links__group.right , 
  .nav-links__group.left{
    display: block;
  }
 .nav {
   box-shadow: none;
 }
}