.NewDayButton {
  display: flex;
  justify-content: center;
  font-family: 'Bellota Text', cursive;
  border: #80f8e6 1px solid;
  color: #80f8e6;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  padding: 5px;
  /* margin-bottom: 20px; */
  background: none;
}

.NewDayButton p {
  margin: 0;
}

a:link {
  text-decoration: none;    
}