.NewDayButton {
    background-color: #e5faf5;
    color: #80f8e6;
    border: #80f8e6 solid;
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 25px;
    display: inline-block;
    font-family: 'Rock Salt', cursive;
    
}

.ButtonDiv {
    background-color: #e5faf5;
    /* margin-left: 50%; */
}