
/**   REGISTRATION/FORM   **/

.registrationForm {  
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #5b720d;
  padding: 30px;
  color: #fff;
  font-size: 20px;
  border: none;
}

.brand p {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color: #80f8e6;
  padding: 0;
  margin: 13px 0px 32px 0;
  text-align: center;
}
  
.registrationForm h1 {
  margin: 5px 10px 5px 0;
  color: #fff;
  text-align: center;
  margin-bottom: 13px;
}

.registrationForm h2 {
  margin: 5px 10px 5px 0;
  color: #fff;
  text-align: center;
  margin-bottom: 13px;
  font-size: 15px;
}

/*Style for the label and input*/
.infoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  width: auto;
}

/*Style for the text field*/
.registrationForm input {
  justify-items: center;
  font-size: 10px;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  background: #f1f1f1; 
}
  
/*changes the color of the button upon hovering*/
.registrationForm button:hover {
  background-color:#a1b16d;
  color: #fff;
}
  
/* The submit button styling */
.registrationForm button {
  color: #a1b16d;
  font-size: 15px;
  border: #fff;
  border-radius: 40px; /* Button gets rounded corners */ ;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
}

.toSignInButton {
  align-self: center;
  color: #5b720d;
  font-size: 15px;
  border: #fff;
  border-radius: 40px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .registrationForm {
    border: 1px solid #a1b16d;
    margin-top: 150px;
    margin-bottom: 325px;
    
  }
}